/* Chat style */
.chatlog-scroll {
  height: 300px !important;
  overflow: scroll;
}
.no-friends {
  width: 100%;
}
.no-friends h3 {
  text-align: center;
}

/* Gantt */
body {
  font-family: sans-serif;
  background: #ccc;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.gantt-container {
  overflow: scroll;
}
/* custom class */
.gantt .bar-milestone .bar-progress {
  fill: tomato;
}

/* Add project */
.add-project-title {
  color: #fff;
  font-weight: bold;
}

/* Tablets */
@media (min-width: 768px) {
}

/* Desktop */
@media (min-width: 992px) {
}
