.info-container {
  text-align: center;
}
.user-description {
  text-align: center;
  padding: 0 50px 20px 50px;
}
.user-description p:first-child {
  font-size: 17px;
}
.user-avatar {
  width: 32px;
  margin: 0 auto;
  margin-top: 7px;
  margin-right: 20px;
  float: right;
}
.user-avatar img {
  width: 100%;
  border-radius: 50%;
}
.avatar-container {
  width: 45%;
  margin: 0 auto;
  padding-top: 20px;
}
.avatar-container img {
  width: 100%;
  border-radius: 50%;
}
@media(min-width: 768px) {
  .avatar-container {
    width: 20%;
  }
  .user-description {
    text-align: center;
    padding: 0 150px 20px 150px;
  }
}
@media(min-width: 992px) {
  .avatar-container {
    width: 15%;
  }
  .user-description {
    text-align: center;
    padding: 0 350px 20px 350px;
  }
}
