.info-container {
  text-align: center;
  padding-bottom: 10px;
}
.user-avatar {
  width: 32px;
  margin: 0 auto;
  margin-top: 7px;
  margin-right: 20px;
  float: right;
}
.user-avatar img {
  width: 100%;
  border-radius: 50%;
}
.avatar-container {
  width: 45%;
  margin: 0 auto;
}
.avatar-container img {
  width: 100%;
  border-radius: 50%;
}
@media(min-width: 768px) {
  .avatar-container {
    width: 20%;
  }
}
@media(min-width: 992px) {
  .avatar-container {
    width: 15%;
  }
}
