@media(min-width: 992px) {
  .project {
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #f7f7f7;
    box-sizing: border-box;
    padding: 5px 10px 15px 10px;
    border-radius: 5px;
  }
  .project-selector {
    float: right;
  }
  .project-selector button {
    margin-top: 22px;
  }
  .project-title {
    float: left;
  }
}
